<%= form_with(model: @service,url:customer_service_path,method: :put, local: true ) do |form| %>
  <p>
    <%= form.label :product_name %>
    <%= form.text_field :product_name %>
  </p>
  <p>
    <%= form.label :datetime %>
    <%= form.text_field :datetime %>
  </p>
  <p>
    <%= form.label :requested_delivery %>
    <%= form.text_field :requested_delivery %>
  </p>
  <p>
    <%= form.label :problem_statement %>
    <%= form.text_field :problem_statement %>
  </p>
  <p>
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </p>
<!--  <p>-->
    <%#= form.label :status %>
    <%#= form.text_field :status %>
<!--  </p>-->
  <p>
    <%= form.label :cost %>
    <%= form.text_field :cost %>
  </p>

  <%= form.submit %>
<% end %>