<! DOCTYPE html>
<html>
<head>
</head>
<body id="servicebody">
<header>
  <h3></h3>
StoreCrafter
</header>
<div id="container"></div>
<div class="container-fluid" >
  <div class="row">
    <%= react_component("HelloWorld" , {services: @service , statuses: Service.statuses , checklist:@checklist , checklist_association: @checklist_association}) %>
      <% @service = Service.all %>
      <% Service.statuses.each do |status| %>
      <div class="col-xs-2 col-half-offset " id="stylo">
          <h3 style="text-align: left"><%= status[0].split("_").join(" ").upcase_first %></h3>
          <% @service.each do |service| %>
            <% if service.status == status[0] %>
            <%= link_to customer_service_path(service.customer_id,service.id) ,:id=>"card-main",:class => "btn btn-default"  do%>
                <div >
                  <h4><% if ((service.reopened) >= 1) %>
                      <span class="glyphicon glyphicon-registration-mark" id="R"><%= service.reopened %></span>
                    <% end %>
                    <%= service.product_name %>
                  </h4>

                  <div class="instance-card">
                  <h6>Status: <%= ServiceChecklist.find(service.service_checklist_ids.last).checklist_name.split("_").join(" ").upcase_first %></h6>
                  <h5 id="checklist" class="glyphicon glyphicon-check badge is-complete ">
                    <%= service.checklist_associations.all.where(:reopened=>service.reopened).size %>/<%= ServiceChecklist.all.size%>
                  </h5>
                  </div>
                </div>
            <% end %>
             <%end %>
      <% end %>
          <%= link_to 'Add new Service' ,customers_path,:class=>"btn btn-default",:id=>'newservice'%>
      </div>
      <% end %>
    <div class="col-xs-2 col-half-offset " id="stylo">
      <h3 style="text-align: left">Reopened</h3>
      <% @service.each do |service| %>
        <% if ((service.checklist_associations.all.where(:reopened=>service.reopened).ids.size == 0) && (service.checklist_associations.all.where(:reopened=>service.reopened).pluck(:service_checklist_id).size == 0))%>
          <%= link_to customer_service_path(service.customer_id,service.id) ,:id=>"card-main",:class => "btn btn-default"  do%>
            <div >
              <h4><% if (service.reopened >=1 ) %>
              <span class="glyphicon glyphicon-registration-mark" id="R"><%= service.reopened %></span><%end %>
                <%= service.product_name %></h4>
              <div class="instance-card">
                <h6>Status: Reopened</h6>
                <h5 id="checklist" class="glyphicon glyphicon-check badge is-complete ">
                  <%= service.service_checklist_ids.size %>/<%= ServiceChecklist.all.size%>
                </h5>
              </div>
            </div>
          <% end %>
        <%end %>
      <% end %>
      <%= link_to 'Add new Service' ,customers_path,:class=>"btn btn-default",:id=>'newservice'%>
    </div>
  </div>
</div>


</body>
</html>