<! DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body id="servicebody">
<header>
  <h3></h3>
  StoreCrafter
</header>



<div class="container-fluid" >
  <div class="row" style="padding-bottom: 0;">
<%= form_with(model:[@service],url:customer_service_path,method: :put, local: true ) do |form| %>
  <p>
    <%= form.label :product_name %>
    <%= form.text_field :product_name , :disabled => false%>
  </p>
  <p>
    <%= form.label :datetime %>
    <%= form.text_field :datetime , :disabled => false%>
  </p>
  <p>
    <%= form.label :requested_delivery %>
    <%= form.text_field :requested_delivery , :disabled => false%>
  </p>
  <p>
    <%= form.label :problem_statement %>
    <%= form.text_field :problem_statement , :disabled => false%>
  </p>
  <p>
    <%= form.label :quantity %>
    <%= form.text_field :quantity , :disabled => false%>
  </p>
  <!--  <p>-->
  <%#= form.label :status %>
  <%#= form.text_field :status , :disabled => true%>
  <!--  </p>-->
  <p>
    <%= form.label :cost %>
    <%= form.text_field :cost , :disabled => false%>
  </p>
    <p>

      <% @service_checklist_ids = ServiceChecklist.all.ids %>

      <% for i in 1..ServiceChecklist.all.size %>
        <% @checklist = @service.checklist_associations.all.where(:reopened=>@service.reopened).pluck(:service_checklist_id) %>
        <% if @checklist.include? @service_checklist_ids[i-1]%>
          <%= form.label ServiceChecklist.find(@service_checklist_ids[i-1]).checklist_name %>
          <%# debugger %>
          <%= form.check_box i , {checked: true , disabled: (ServiceChecklist.find(@service_checklist_ids[i-1]).checklist_name == ServiceChecklist.all[0].checklist_name) } %><br>
        <% else %>
          <%= form.label ServiceChecklist.find(@service_checklist_ids[i-1]).checklist_name %>
          <%= form.check_box @service_checklist_ids[i-1] %><br>
        <% end %>
      <% end %>
      <h3>Case History</h3>
    <% for j in 0..@service.reopened-1 %>
        <h4 style="background-color: #F7F7F7"><%= j+1 %>th History</h4>
        <% if j<=@service.reopened-1 %>
        <% for i in 1..ServiceChecklist.all.size %>
          <% @checklist = @service.checklist_associations.all.where(:reopened=>j).pluck(:service_checklist_id) %>
          <% if @checklist.include? @service_checklist_ids[i-1]%>
            <%= form.label ServiceChecklist.find(@service_checklist_ids[i-1]).checklist_name %>
            <%# debugger %>
            <%= form.check_box i , {checked: true , disabled: j!=@service.reopened} %><br>
          <% else %>
            <%= form.label ServiceChecklist.find(@service_checklist_ids[i-1]).checklist_name %>
            <%= form.check_box @service_checklist_ids[i-1] %><br>
          <% end %>
        <% end %>
        <%end %>
    <% end %>

  <%# for i in 1..ServiceChecklist.all.size %>
  <%# if @checklist.include? @service_checklist_ids[i-1]%>
  <%#= form.label ServiceChecklist.find(@service_checklist_ids[i-1]).checklist_name %>
<!--          <%#= form.check_box i , {checked: true}%><br>-->
  <%# else %>
        <%#= form.label ServiceChecklist.find(@service_checklist_ids[i-1]).checklist_name %>
<!--          <%#= form.check_box @service_checklist_ids[i-1] %><br>-->
  <%# end %>
  <%# end %>
    </p>
  <p>
  <% if @service.status == "servicing" %>
      <% @service.service_components.each do |components| %>
          <%= components.component_name %>
      <%end  %>

      <%= link_to 'Add component details ?' , new_customer_service_component_association_path(service_id:@service.id) %>
  <%end %>
  </p>
  <p>
    <% if @service.checklist_associations.all.where(:reopened=>@service.reopened).ids.size == ServiceChecklist.all.size %>
        <%= link_to 'Reopen',service_reopened_customer_services_path(service_id:@service.id),:id=>"card-main", :class => "btn btn-default"%>
    <% end %>
  </p>
  <%= form.submit %>
<% end %>
  </div>
</div>
</body>
</html>