<%= form_with(model: @service_component , label: true) do |form|  %>
<p><%= form.label :component_name %><br>
<%= form.text_field :component_name%></p>
<p>
<%= form.label :component_quantity %><br>
<%= form.text_field :component_quantity %>
</p>
<p>
  <%= form.label :component_cost %><br>
  <%= form.text_field :component_cost %>
</p>
  <%= form.submit %>
<% end %>