<p>
  <h1>List of all Components:</h1>
</p>
<p>
  <% @service_component.each do |component| %>
  <%= component.component_name ? component.component_name : "null" %>
  <%= component.component_quantity ? component.component_quantity : "null"%>
  <%= component.component_cost ? component.component_cost : "null" %>
    <%= link_to 'Destroy' ,service_component_path(component),method: :delete%>
    <%= link_to 'Edit',edit_service_component_path(component) %>
    <br>
  <% end %>
</p>
<p>
  <%= link_to 'Add new Component?', new_service_component_path %>
</p>