
<%= form_with scope: :service_component, url:service_components_path, local: true do |form| %>
  <p>
    <%= form.label :component_name %>
    <%= form.text_field :component_name %>
  </p>
  <p>
    <%= form.label :component_quantity %>
    <%= form.text_field :component_quantity %>
  </p>
  <p>
    <%= form.label :component_cost %>
    <%= form.text_field :component_cost %>
  </p>
  <%= form.submit %>
<% end %>