/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
@import "bootstrap";
header {
    background-color:dodgerblue;
    height: 100px;
    margin-top: 5px;
    padding-top: 5px;
    color: #2E2F30;
    text-align: center;
    font-size: 300%;
}
h2{
    text-align: center;
    padding-bottom: 10px;
}
.col-half-offset{
    margin-left:1%;
    margin-top: 5px;
}
#stylo{
    background-color:#dfe1e6;
    padding-bottom: 10px;
    border-radius: 10px;
    height:100%;
    white-space: nowrap;
    flex-direction: column;
    width: 272px;
    display:inline-flex;
    float:none;
    margin-bottom: 8px;
    top: 10px;
}
h3{
    font-weight: 600;
}
.row{
    background-color: rgb(0, 121, 191);
    white-space:nowrap;
    overflow-x: auto;
    top: 0;
    padding-bottom:100%;
    right: 0;
    left: 0;
    bottom: 0;
}
#servicebody{
    background-color: rgb(0, 121, 191);
}
.container-fluid{
    background-color: deepskyblue;
    position: -ms-device-fixed;
    height: 100%;
    margin-bottom: 10px;
}
h4,h5,h6{
    font-weight: 400;
}
#stylo,h2,h4,h5,h6{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}
h4{
    text-align: left;
    text-effect: engrave;
    font-size: 18px;
}
#card-main
{
    margin-bottom: 10px;
}
h6{
    text-align: left;
    font-size: 12px;
    float: left;
}
h5{
    text-align: right;
    float: right;
    border-radius: 3px;
    color: green;
}
#checklist
{
    background-color:#61bd4f;
}
#newservice
{
    background-color:#dfe1e6;
    text-align:left;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: solid;
}
#newservice:hover
{
    background-color: #666666;
    color: #DADADA;
}
#R{
    float:top;
    background-color:dodgerblue;
    color: #F7F7F7;
    text-align: center;
}