<%= form_with model:[ @component_association ], url:customer_service_component_associations_path ,method: :post,local: true do |form|%>
<h1>Add Components to<%= Service.find(params[:service_id]).product_name%> </h1>
<table>
  <th>Name</th>
  <th>Available</th>
  <th>Cost</th>
  <th>ID</th>
<% @service_components.each do |components| %>
    <% debugger %>
  <tr><p>
    <td><%= form.check_box components.id %></td>
    <td><%= components.component_name  %>
    <td><%= components.component_quantity %></td>
    <td><%= components.component_cost  %></td>
    <td>
      <%= form.label components.id %>
      <%= form.text_field components.component_name %></td>
  </p>
  </tr>
<% end %>
</table>
<%= form.submit %>
<% end %>x