<%= form_with(model: @customer , label: true) do |form|  %>
<p><%= form.label :customer_name %><br>
<%= form.text_field :customer_name%></p>
<p>
<%= form.label :customer_phno %><br>
<%= form.text_field :customer_phno %>
</p>
<p>
  <%= form.label :customer_location %><br>
  <%= form.text_field :customer_location %>
</p>
  <%= form.submit %>
<% end %>