<h1>Customers#index</h1>
<p>Find me in app/views/customers/index.html.erb</p>
<p>
  <h1>List of Customer:</h1>
</p>
<p>
  <% @customer.each do |service| %>
  <%= service.customer_name ? service.customer_name : "null" %>
  <%= service.customer_phno ? service.customer_phno : "null"%>
  <%= service.customer_location ? service.customer_location : "null" %>
    <%= link_to 'Show' ,customer_path(service )%>
    <%= link_to 'Destroy' ,customer_path(service),method: :delete%>
    <%= link_to 'Add Services',  new_customer_service_path(service)  %>
    <%= link_to 'Edit',edit_customer_path(service) %>
    <br>
  <% end %>
</p>
<p>
  <%= link_to 'Add new Customer?', new_customer_path %>
</p>