<% if @customer.errors.any? %>
 <% @customer.errors.full_message.each do |msg|%>
    <li><%= msg %></li><% end %>
<% end %>
<%= form_with scope: :customer, url:customers_path, local: true do |form| %>
  <p>
    <%= form.label :customer_name %>
    <%= form.text_field :customer_name %>
  </p>
  <p>
    <%= form.label :customer_phno %>
    <%= form.text_field :customer_phno %>
  </p>
  <p>
    <%= form.label :customer_location %>
    <%= form.text_field :customer_location %>
  </p>
  <%= form.submit %>
<% end %>