<p>
  <h1>Customer detail:</h1>
</p>
<p><strong>Name:</strong>
  <%= @customer.customer_name %>
</p>
 <p>
   <strong>Phone Number:</strong>
     <%= @customer.customer_phno %>
 </p>
  <p>
    <strong>Location:</strong>
    <%= @customer.customer_location %>
</p>
<p>
  List of Products under services :
</p>

<p>
  <table>
    <th>Pending</th>
    <% @customer.services.each do |services| %>
    <tr><% if services.status == 'pending' %>

        <td><%= services.product_name %></td>
    </tr>
      <% end %>
    <% end %>
  </table>
</p>

<table>
<p>
  <% @customer.services.each do |services|%>
    <tr>

      <td><%= services.product_name %></td>
      <td><%= services.datetime %></td>
      <td><%= services.requested_delivery %></td>
      <td><%= services.problem_statement %></td>
      <td><%= services.quantity %></td>
      <td><%= services.cost %>
      <td><%= services.status %></td>
      <%# debugger %>
      <td><%= link_to 'Delete',customer_service_path(@customer.id,services.id),
                      method: :delete,
                      data: { confirm: 'R U Sure?'} %></td>
      <td><%= link_to 'Edit',edit_customer_service_path(services.customer_id, services.id ) %></td>
        <br>
    </tr>
  <% end %>
</p>
</table>